<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="shippingMethods"
             type="bLaserTag.ShippingMethodConfigSection, bLaserTag" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DefaultOrder" value="DefaultOrder.xml" />
  </appSettings>
  <shippingMethods>
    <add name="UPS Ground" code="UPS" />
    <add name="3 Day Select" code="3 DAY SELECT" />
    <add name="Second Day AM Deliver" code="2ND DAY AM" />
    <add name="Second Day Air" code="2ND DAY AIR" />
    <add name="Next Day Air" code="NEXT DAY AIR" />
    <add name="Next Day Air Early AM" code="NEXT DAY AIR EA" />
    <add name="UPS Shipper #" code="UPS SHIPPER #" />
    <add name="UPS Next Day Air Shipper #" code="UPS NDA SHIP#" />
    <add name="UPS 2ND Day Air Shipper #" code="UPS 2DAY SHIP#" />
    <add name="UPS 3 Day Select Shipper #" code="UPS 3DAY SHIP#" />
  </shippingMethods>
</configuration>